body {
	margin: 10px 0;
	background-color: #fff;
	text-align: center;
}

h1 {
	width:700px;
	margin:10px auto;
	color: #888;
	font-size: 180%;
	line-height: 150%;
	font-weight: bold;
	border-width: 2px 0;
	border-style: solid;
	border-color: #888;
	background-color: #fff;
}

a, a:hover, a:active, a:visited {
	color:#000;
}

#main {
	margin: 10px auto 0 auto;
	padding: 5px;
	background-color: #eee;
	border: 2px solid #222;
	font-size: 14px;
	line-height: 26px;
	font-family: 'monospace';
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}

form.post {
	width: 700px;
	background-color: #eee;
	margin:10px auto;
	padding: 5px;
	border: 2px solid #222;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}

form.post a {
	color: #f00;
	text-decoration:none;
}

form.post a:visited ,a:active {
}

form.post a:hover {
	color: #fff;
	background-color: #f00;
}

.center {
	max-width: 100%;
	max-height: 90vh;
}

.image {
	margin:42px auto;
}

.text{
	background-color: #f8f8f8;
	text-align: left;
	margin:16px auto;
	padding:26px 56px;
	width:588px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}

#comment {
	background-color: #eee;
	text-align: left;
	border: 2px solid #22395E;
	width: 704px;
	margin:  20px auto 0 auto;
	padding: 4px;
}

@media screen and (max-width: 520px) {
	div.sep-thumb {
		width: calc((100vw - 32px) / 3 - 12px);
		margin: 5px;
		float: left;
	}
	div.sep-thumb div.top_image {
		width: calc((100vw - 32px) / 3 - 12px);
		height: calc((100vw - 32px) / 3 - 12px);
		text-align: center;
	}
	div.sep-thumb div.top_image img {
		max-width: 100%;
		max-height: 100%;
	}
}

.comic-box {
	max-width: 810px;
	width: auto;
	text-align: center;
	background-color: #eee;
	border: 2px solid #22395E;
	margin: 20px auto 0 auto;
	padding: 4px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

hr.dot_line {
	border: 0;
	border-top: dotted 2px gray;
	margin: 10px;
}

form.post {
	max-width: 810px;
	width: auto;
	margin: 1em auto;
	color: black;
	font-size: 16px;
}

form.post a {
	color: black;
	text-decoration: underline;
}

a.post {
	color: red;
	text-decoration: none;
}

.cover {
	max-width: 100%;
	max-height: 90vh;
}